<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estoque Web</title>
    <link rel="icon" href="/img/logo.png" type="image/png">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel="stylesheet" href="/css/admin.css">
    <link rel="stylesheet" href="/css/cadastrar_empresa.css">
    <link rel="stylesheet" href="/css/cadastrar_produto.css">
    <link rel="stylesheet" href="/css/cadastrar_user.css">
    <link rel="stylesheet" href="/css/contato.css">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/state.css">
    
    <script src="/js/contact.js"></script>
    <script src="/js/message.js"></script>
</head>
<body>
    {{#unless login}}
        <header class="header">
            <h2>Estoque Web</h2>
            <nav>
                <ul class="menu">
                    <a class="info" href="/state">info</a>
                    <a class="logout"  href="/login">logout</a>
                </ul>
            </nav>
        </header>
    {{/unless}}
    {{{body}}}
    
</body>

</html>
