 <main>
      <section>
        <h2 id="title">Fale Conosco</h2>
        <form id="forms" class="contact">
          <label for="name">Nome Completo</label>
          <input type="text" name="name" id="name" />
          <label for="email">E-mail</label>
          <input type="email" name="email" id="email" />
          <label for="message">Sua Mensagem</label>
          <textarea name="message" id="message" cols="30" rows="10"></textarea>
          <span class="send" id="button" onclick="contact()">Enviar mensagem</span>
        </form>
        <div class="return-container">
          <h3 class="return">
            <a href="/login">Voltar</a>
          </h3>
        </div>
      </section>
  </main>