
<div style="text-align:center">
            {{#each response}}
                <h3>Type: {{type}}</h3>
                <h3>Status: {{status}}</h3> 
                <h3>Message: {{message}}</h3>
                <h3>Dados: {{data}}</h3>  
           {{/each}}
</div>   

<a href="/">HOME</a>


   
