<div class="container--paglogin">
   {{#if message}}
  <div id="card" class="container_message">
  {{message}}
  </div>
  {{/if}}
  <div class="container-logo">
        <h1 class="logo">
          <a href="/login">Web <span>Estoque</span></a>
        </h1>
      </div>

  <div class="container--login">
    <form class="container-login" action="/" method="POST">
      <div class="container-login-title">
        <h2 class="title">Fazer login</h2>
      </div>
      <div class="container-login-email">
        <label for="email">E-mail</label>
        <input type="email" name="login" id="login" required />
      </div>
      <div class="container-login-password">
        <label for="password">Senha</label>
        <input type="password" name="password" id="password" required />
      </div>
      <div class="container-login-button">
        <input type="submit" value="Login" class="button" />
      </div>
      <div class="container-login-forgot">
        <h3 class="forgot-password">
          <a href="/contact">Esqueceu sua senha?</a>
        </h3>
        <h3 class="forgot-password">
          <a href="/state">Status</a>
        </h3>
      </div>
    </form>
  </div>
</div>

