:root {
  --primary: #7289DA;
  --primary-hover: #677bc4;
  --background: #c7d0f0;
  --grey: #828282;
  --black: #171717;
  --white: #F9F9F9;
}

h1 {
  text-align: center;
}

.container--master {
  max-width: 90%;
  margin: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.table {
  width: 100%;
  margin: 1rem 0;
  border-collapse: collapse;
  border-radius: 0.25rem;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
  text-align: center;
  background-color: var(--white);
  color: var(--black);
}

.table th {
  font-weight: 600;
  background-color: var(--black);
  color: var(--white);
}

.table th:first-child {
  border-radius: 0.25rem 0 0 0;
}

.table th:last-child {
  border-radius: 0 0.25rem 0 0;
}

.table th,
.table td {
  padding: 1rem 2rem;
}

.table td:first-child {
  border-radius: 0 0 0 0.25rem;
}

.table td:last-child {
  border-radius: 0 0 0.25rem 0;
}

.table tr:nth-child(even) {
  background-color: var(--white);
}

.table .options {
  justify-content: center;
  display: flex;
  gap: 2rem;
}

.buttons {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 2rem;
}

.buttons a {
  padding: 0.75rem 1.25rem;
  border-radius: 0.25rem;
  cursor: pointer;
  font-size: 0.9rem;
  background-color: var(--primary);
  color: var(--white);
}

.header, .menu {
  display: flex;
  align-items: center;
}

.header {
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 1%;
  padding: 1rem 0;
  justify-content: space-between;
}

.menu {
  justify-content: center;
  gap: 2rem;
}

@media (max-width: 768px) {
  .table{
    overflow: scroll;
    display: block;
  }
}

@media (max-width: 600px) {
  .buttons {
    gap: 0.5rem;
  }

  .buttons a {
    padding: 0.5rem 0.75rem;
    font-size: 14px;
  }
  .table{
    overflow: scroll;
    display: block;
  }
}